.member-list {
    &__title {
        font-size: 40px;
        font-weight: 700;
        margin : 30px 0;
    }
}

.member-list-header {
    display: flex;
    &__nav {
        text-align : center;
        font-weight: 600;
    }
    &__empty {
        flex : 1;
    }
}

.member-list-content-wrapper {
    display : grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    margin: 0 -8px;
}